<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Handy Hire</title>

  <!-- Favicon -->
  <link rel="icon" href="../Images/handyman.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../CSS/styles.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  
  <!--***********************-->
  <!--**** Title Section ****-->
  <!--***********************-->
  <section id="header">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="/">Handy Hire</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/browse">Browse Handy Men</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#contactModal">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#how-it-works">How It Works</a>
            </li>
            <li class="nav-item dropdown">
              <%if(user) {
                if(user.profilePicture.url){ %>
                  <a href="#" class="nav-link dropdown-toggle" id="accountNavItem" data-toggle="dropdown"><img src="<%= user.profilePicture.url %>" alt="handymanIcon" width="32" height="32" style ="border-radius: 50%;"></a>
                <%} else { %>
                  <a href="#" class="nav-link dropdown-toggle" id="accountNavItem" data-toggle="dropdown"><img src="../Images/handyman.png" alt="handymanIcon" width="32" height="32" style ="border-radius: 50%;"></a>
                <%}%>
              <%} else {%>
                <a href="#" class="nav-link dropdown-toggle" id="accountNavItem" data-toggle="dropdown">Account</a>
              <%}%>
              <div class="dropdown-menu ">
                <%if(user){%>
                 <a class= "dropdown-item">Signed in as <br> <strong><%= user.username %></strong></a>
                 <div class="dropdown-divider"></div>
                 <a class= "signup dropdown-item" id="accountEmail" href="/settings"><i class="fas fa-user-edit"></i> Edit Account</a>
                 <div class="dropdown-divider"></div>
                 <a class= "signup dropdown-item" id="logout" href="/users/<%=user.username%> "><i class="far fa-eye"></i> View Profile Page</a>
                 <div class="dropdown-divider"></div>
                 <a class= "signup dropdown-item" id="logout" href="/reviews "><i class="fas fa-info-circle"></i> Reviews</a>
                 <div class="dropdown-divider"></div>
                 <a class= "signup dropdown-item" id="logout" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                <%} else {%> 
                  <a class= "login dropdown-item" href="/login"><i class="fas fa-user"></i> Log In</a>
                  <div class="dropdown-divider"></div>
                  <a class= "signup dropdown-item" href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
                <%}%>
              </div>
           </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
      
  <!--**********************-->
  <!--****Contact Modal**** -->
  <!--**********************-->
  <div class="modal fade" id="contactModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <!-- Modal body-->
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Contact Us</h5>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
             <p style="text-align:center;">How can we assist you?</p>
             <p style="text-align:center;">Please fill out the form and click submit.</p>
             <div class="d-flex flex-column text-center">
              <form action = "" method = "POST">
                  <div class="form-group">
                    <label>Your message:</label>
                  </div>
                  <div class="form-group">
                     <textarea  style="resize:none;" rows="4"  type = "text" placeholder = "Describe the issue that you have experienced and we will get back to you shortly." class="form-control" id="message"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Your email:</label>
                 </div>
                 <div class="form-group">
                    <input type = "text" placeholder = "Enter your email for us to reach out to you." class="form-control" id="email"/>
                 </div>
                  <button type="submit" class="btn btn-info btn-block btn-round" style="text-align:center;"><i class="far fa-paper-plane"></i>&nbsp;Submit</button>
              </form>
             </div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
  </div>
