<%- include("../views/partials/header.ejs") -%>
<script defer src="../Javascript/stateCountyDependantDropdown.js"></script>
<script defer src="../Javascript/typeOfWork.js"></script>

<section>
  <!--*********************-->
  <!--*  Browse Container *-->
  <!--*********************-->
  <div class = "browse container-fluid ">
     <form>
        <!--Search Bar Row-->
        <div class = "row">
           <div class = "col-lg-12">
              <div class="input-group md-form form-sm form-2 pl-0">
                 <input id = "searchCriteria" class="form-control my-0 py-1 red-border" type="text" placeholder="Search For HandyMen..." aria-label="Search">
                 <button class="input-group-append btn btn-info" type="submit">Search</button>
              </div>
           </div>
        </div>
        <!--Ends Search Bar Row-->
        <!--Filter Switch Button-->
        <button class="btn btn-info" type="button" style = "margin-top: 1rem;" onclick= "switchFilter()"><i class="fas fa-sliders-h"></i> Filter</button>
        <!--Filters Div-->
        <div id = "filters" style = "display: none;">
           <div class = "row">
              <div class = "col-lg-12">
                 <h5>Filter your search:</h5>
              </div>
           </div>
           <div class = row>
              <div class = "col-lg-4">
                 <div class= "form-group">
                    <label for="browseState"><i class="fas fa-city"></i> State</label>
                    <select class="browser-default custom-select" name="state" id="stateSelect">
                        <option value="" selected="selected">Select a state</option>
                  </select>
                 </div>
              </div>
              <div class = "col-lg-4">
                 <div class= "form-group">
                  <label for="enter_county"><i class="fas fa-city"></i> County</label>
                  <select class="browser-default custom-select" name="county" id="countySelect">
                     <option value="" selected="selected">Please select state first</option>
                  </select>
                 </div>
              </div>
              <div class = "col-lg-4">
                 <div class= "form-group">
                    <label for="typeOfWork"><i class="fas fa-briefcase"></i> Type Of Work</label>
                    <!-- <input id="browseTypeWork" type="text" class="form-control" placeholder="Type Of Work" name="type" > -->
                    <select class="browser-default custom-select" id="typeOfWorkSelect" name="typeOfWork">
                        <option value="" selected="selected">Choose one</option>
                    </select>
                 </div>
              </div>
           </div>
           <button class = "btn btn-info" type = "submit"><i class="fas fa-tasks"></i> Apply Filters</button>
           <input class = "btn btn-info" type="reset">
        </div>
        <!--Ends Filters Div-->
     </form>

     <!--HandyMen Cards row-->
     <div class = "row">
        <div class = "col-lg-4">
           <div class="card">
              <img class="card-img-top" src="../Images/handyman.png" alt="Card image">
              <div class="card-body">
                 <h5 id = "handyManName"class="card-title">Handyman Name<i id = "handyManVerification" class="fas fa-check-double fa-xs"></i></h5>
                 <p id = "handyManType"><i class="fas fa-briefcase"></i> Type of Work</p>
                 <p id = "handyManAddress"><i class="fas fa-map-marked"></i> <span id = "handyManCity">City</span>, <span id = "handyManState">State</span></p>
                 <a href="#" class="btn btn-dark"><i class="far fa-eye"></i> View Profile</a>
              </div>
           </div>
        </div>
        <div class = "col-lg-4">
           <div class="card">
              <img class="card-img-top" src="../Images/handyman.png" alt="Card image">
              <div class="card-body">
                 <h5 class="card-title">Handyman Name<i id = "handyManVerification" class="fas fa-check-double fa-xs"></i></h5>
                 <p><i class="fas fa-briefcase"></i> Type of Work</p>
                 <p id = "handyManAddress"><i class="fas fa-map-marked"></i> <span id = "handyManCity">City</span>, <span id = "handyManState">State</span></p>
                 <a href="#" class="btn btn-dark"><i class="far fa-eye"></i> View Profile</a>
              </div>
           </div>
        </div>
        <div class = "col-lg-4">
           <div class="card">
              <img class="card-img-top" src="../Images/handyman.png" alt="Card image">
              <div class="card-body">
                 <h5 class="card-title">Handyman Name<i id = "handyManVerification" class="fas fa-check-double fa-xs"></i></h5>
                 <p><i class="fas fa-briefcase"></i> Type of Work</p>
                 <p id = "handyManAddress"><i class="fas fa-map-marked"></i> <span id = "handyManCity">City</span>, <span id = "handyManState">State</span></p>
                 <a href="#" class="btn btn-dark"><i class="far fa-eye"></i> View Profile</a>
              </div>
           </div>
        </div>
        <div class = "col-lg-4">
         <div class="card">
            <img class="card-img-top" src="../Images/handyman.png" alt="Card image">
            <div class="card-body">
               <h5 class="card-title">Handyman Name<i id = "handyManVerification" class="fas fa-check-double fa-xs"></i></h5>
               <p><i class="fas fa-briefcase"></i> Type of Work</p>
               <p id = "handyManAddress"><i class="fas fa-map-marked"></i> <span id = "handyManCity">City</span>, <span id = "handyManState">State</span></p>
               <a href="#" class="btn btn-dark"><i class="far fa-eye"></i> View Profile</a>
            </div>
         </div>
      </div>
     </div>
     <!--Ends HandyMen Cards Row-->
  </div>
  <!--Ends Browse Container-->
</section>

<!--Browse Container Filter Switch Button Function-->
<script>
  function switchFilter() {
  var filters = document.getElementById("filters");
  if (filters.style.display === "none") {
    filters.style.display = "block";
  } else {
    filters.style.display = "none";
  }
  }
</script>

<%- include("../views/partials/footer.ejs") -%>