<%- include("../views/partials/header.ejs") -%>
<section>
	<section class="error404Page">
		<div class="errorPageBody">
			<h1>Error 404 - Page Not Found</h1>
			<p>Sorry, we couldn't find the page you were looking for.</p><br>
			<button type="button" class="signup btn btn-dark btn-lg" id="backtoHomeButton" onclick="window.location.href='/'">Back to Home</button>
		<div>
	</section>
</section>
<%- include("../views/partials/footer.ejs") -%>