<%- include("../views/partials/header.ejs") -%>
<section>
    
    <!-- ///////////////////////////////////////// -->
    <!-- /////////// CODE GOES HERE ////////////// -->
    <!-- ///////////////////////////////////////// -->

</section>
<%- include("../views/partials/footer.ejs") -%>