<%- include("../views/partials/header.ejs") -%>

  <!--******************************-->
  <!--**** Home Page Section ****-->
  <!--******************************-->
  <section id="title">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">No Job Too Small, Find a Handy Man in your area!</h1>
          <a href="/browse"><button type="button" class="signup btn btn-dark btn-lg" id="browseJobsTitleButton">Browse Handy Men</button></a>
        </div>
        <div class="col-lg-6">
          <img src="../Images/handyman.png" alt="Handy Man" srcset="">
        </div>
  
      </div>
    </div>
  </section>

  <!--******************************-->
  <!--**** How It Works Section ****-->
  <!--******************************-->
  <section id="how-it-works">
    <h1>Welcome to Handy Hire!</h1>
    <p>Handy Hire is an app that allows Handy Men to create and customize their own profile to their hearts content. When they're finished creating their account, they
      can start sharing their profile with people in need of a Handy Man. People can also visit the Handy Hire website and browse through all the categories of Handy Men available.
    </p>
    <div class="row">
      <div class="how-it-works-box col-lg-4">
        <i class="icon far fa-address-card fa-4x"></i>        
        <h3>Create an Account</h3>
        <p>Sign up to get started.</p>
      </div>
  
      <div class="how-it-works-box col-lg-4">
        <i class="icon far fa-clipboard fa-4x"></i>
        <h3>Build your Profile</h3>
        <p>Personalize your account to best describe your business.</p>
      </div>
  
      <div class="how-it-works-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>        
        <h3>Publish your Page</h3>
        <p>Share your page with potential clients.</p>
      </div>
    </div>
  </section>

<%- include("../views/partials/footer.ejs") -%>
